<!DOCTYPE html>
<html>
<head>
  <title>Search API</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link type="text/css" rel="stylesheet" href="newSearch.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header class="header-basic-light">

  <div class="header-limiter">

    <h1><a href="#">Sandeep and Randy's <span>Search Engine</span></a></h1>

  </div>

</header>
  <div ng-app="myApp" ng-controller="myCtrl" class="spc1">
    <div class="container-fluid text-center spc2" style="margin-top:20px"> 
      <div class="form-group row">
        <div class="col-xs-12">
          <input type="text" class="col-xs-5" ng-model="searchBox" placeholder="Enter your query here.." required style="float:none">
          <input type="submit" class="col-xs-2 float-none" ng-model="searchButton" ng-click="getResults()" value="Search" style="float:none"> 
        </div>
      </div>
<div class="form-group col-xs-3">   
  <label for="exampleSelect1" class="col-xs-5">Hashtags:</label>
  <div class="col-xs-7"> 
    <select id="exampleSelect1" class="form-control" ng-model="selectedName" ng-options="x for x in names">
    <select></select>
  </div>
  </div>
<div class="form-group col-xs-6">
  <label for="col-xs-2">Language:</label> 
  <label class="radio-inline">
    <input ng-model="lang" type="radio" name="optradio" ng-value='"English"' checked='checked'>English
  </label>
  <label class="radio-inline">
  <input ng-model="lang" type="radio" name="optradio" ng-value='"Spanish"'>Spanish
  </label>
</div>
  <div class="form-group col-xs-3">
    <label for="inputEmail3" class="col-xs-4">Username:</label>
    <div class="col-xs-8">
    <input type="text" class="form-control" id="input3" placeholder="@username" ng-model="username">
    </div>
  </div>
  
</div>
  <div class="spc3" ng-style="specialChar" ng-repeat="x in results">
    <p ng-bind-html="x"></p>
  </div>
  
</div>
<script src="main.js"></script>
</body>
</html>
